version: 2.1
orbs:
  node: circleci/node@4.1.0
commands:
  install-node-modules:
    description: This step will install the node packages.
    steps:
      - node/install-packages
        # cache-key: "package-lock.json"
  build-production:
    description: This will create a production build.
    steps:
      - run: ls
      - run: npm run build
      - run: ls
jobs:
  build-app:
    executor: node/default
    steps:
      - checkout
      - install-node-modules
      - build-production
workflows:
  version: 2
  deploy-app:
    jobs:
      - build-app
