version: 2.1
orbs:
  aws-s3: circleci/aws-s3@2.0.0
  node: circleci/node@4.1.0
  python: circleci/python@1.3.2
commands:
  install-node-modules:
    description: This step will install the node packages.
    steps:
      - node/install-packages
        # cache-key: "package-lock.json"
  build-production:
    description: This will create a production build.
    steps:
      - run: npm run build
  sync-to-bucket:
    description: This will sync the production build to the s3 bucket.
    steps:
      - run: ls
jobs:
  build-app:
    executor: node/default
    steps:
      - checkout
      - install-node-modules
      - build-production

  deploy-app:
    executor: python/default
    steps:
      - checkout
      - sync-to-bucket

workflows:
  version: 2
  deploy:
    jobs:
      - build-app
      - deploy-app:
          requires:
            - build-app
